{% block contents %}
<header>
    <ul>
        <li>
            <a href="{{url_for('index')}}">Home</a>
        </li>
        <li>
            <a href="{{url_for('aboutMe')}}">About Me</a>
        </li>
    </ul>
</header>
{% endblock %}