{% extends "layout.jinja" %}
{% block title%} Ashish Agarwal {% endblock %}

{% block contents %}

<h1>Welcome</h1>
<p>Hello there, welcome to my website, I'm <b>Ashish Agarwal</b>!</p>

{% endblock %}