<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    {% include "header.jinja" %}
    {% block contents %} {% endblock %}
    {% include "footer.jinja" %}
</body>
</html>